.container {
    padding-left: 10px;
    padding-right: 10px;
}

.heading {
    color: rebeccapurple;
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: #000;
    text-decoration: none;
}

.nav-link-text:hover {
    color: rebeccapurple;
    text-decoration: underline;
}

.footer-style {
    text-align: center;
    padding: 30px;
    max-width: 100%;
    font-size: 18px;
}

.icon-container {
    padding-top: 20px;
}

.icon-style {
    padding-right: 25px;
}

.icon-link {
    color: rgb(105, 105, 105);
}