@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.container {
    margin: auto;
    max-width: 800px;
    font-family: 'Poppins', sans-serif;          
    /* font-size: 16px; */
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
    text-decoration: none;
}

.nav-link-text:hover {
    color: blue;
}

.footer-style {
    text-align: center;
    padding: 30px;
}

blockquote {
    background: #f9f9f9;
    border-left: 4px solid #ccc;
    margin: 1.5em 3px;
    padding: 0.4em 10px .3em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

a {
    text-decoration: none;
}