@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400&display=swap');

.container {
    margin: auto;
    max-width: 800px;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
    text-decoration: none;
}

.nav-link-text:hover {
    color: blue;
}

.footer-style {
    text-align: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;      
    max-width: 100%;
}

blockquote {
    background: #ffffff;
    border-left: 5px solid rgb(0, 0, 0);
    margin: 1.5em 3px;
    padding: 0.4em 10px .3em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

a {
    /* text-decoration: none; */
    color: rgba(0, 17, 255, 0.705);
    text-underline-offset: 3px;
}

p {
    line-height: 2rem;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}

img {
      max-width: 100%;
}

/* Responsive style here */
@media only screen and (max-width: 800px) {
    .container {
        font-size: 1.1rem;
    }
}