@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.container {
    margin-bottom: 35px;
    /* line-height: 1.5rem; */
}

.nav-link {
    text-decoration: none;
    color: rgb(115, 115, 201);
}

.blog-date {
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 14px;
    color: #918c8c;
}

.read-me {
    color: #3679f7;
    text-decoration: none;
    font-size: 16px;
}

.head-container {
    display: flex;
    margin-top: 20px;
}

.m-image {
    width: 160px;
    height: 100px;
    margin-right: 15px;
}

.search-container {
    margin-top: -1.2rem;
}

.desc-style {
    display: none;
}

@media only screen and (max-width: 799px) {
    .m-image {
        width: 100%;
        height: 100%;
    }
    .head-container {
        display: inline-block;
    }
    .read-me {
        margin-top: 100px;
    }
    .desc-style {
        display: inline-block;
    }
    .read-me-container {
        margin-top: -35px;
    }
}

