@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.container {
    margin-bottom: 35px;
    /* line-height: 1.5rem; */
}

.nav-link {
    text-decoration: none;
    color: rgb(115, 115, 201);
}

.blog-date {
    margin-top: -20px;
    margin-bottom: -20px;
    /* font-size: 15px; */
    color: #918c8c;
}

.description {
    margin-bottom: -15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-me {
    color: #3679f7;
    text-decoration: none;
    font-size: 16px;
}

.head-container {
    display: flex;
    margin-top: 20px;
}

.m-image {
    width: 160px;
    height: 100px;
    margin-right: 15px;
}

.search-container {
    margin-top: -1.2rem;
}

@media only screen and (max-width: 799px) {
    .m-image {
        width: 100%;
        height: 100%;
    }
    .head-container {
        display: inline-block;
    }
}

