@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.date-link-span {
    font-weight: bold;
}

.date-link {
    color: rgb(155, 152, 152);
    margin-top: -20px;
    /* font-size: 15px; */
    font-family: 'Gochi Hand', cursive;
}

.avatar-style {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-top: 5px;
}

.author-container {
    display: flex;
    margin-top: 15px;
}

.author-details {
    margin-top: -14px;
    margin-left: 20px;
}

.blog-image {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    color: rgb(229, 231, 235);
}