@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.date-link-span {
    font-weight: bold;
}

.date-link {
    color: rgb(155, 152, 152);
    font-size: 12px;
}

.avatar-style {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: -8px;
}

.author-container {
    display: flex;
    padding-top: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.author-details {
    margin-left: 20px;
    line-height: 1.3rem;
}

.blog-image {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 25em;
}

.line-style {
    margin-top: 35px;
    margin-bottom: 35px;
}

.author-name {
    font-size: 15px;
    font-weight: bolder;
}

.keyword-style {
    background-color: #ebebeb;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-size: 14px;
}

.keywords-container {
    display: flex;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.tag-style {
    background-color: rgba(27, 31, 35, 0.05);
    padding: 2px 12px 2px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}