.container {
    margin-bottom: 35px;
}

.nav-link {
    text-decoration: none;
    color: rgb(115, 115, 201);
}

.blog-date {
    margin-top: -22px;
    color: #9b9b9b;
    font-size: 16px;
}

.description {
    margin-top: -10px;
    margin-bottom: -15px;
}

.read-me {
    color: #3679f7;
    text-decoration: none;
    font-size: 16px;

}