@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.container {
    margin-bottom: 35px;
}

.nav-link {
    text-decoration: none;
    color: rgb(115, 115, 201);
}

.blog-date {
    margin-top: -22px;
    color: #afafaf;
    font-size: 18px;
    font-family: 'Gochi Hand', cursive;
}

.description {
    margin-top: -10px;
    margin-bottom: -15px;
}

.read-me {
    color: #3679f7;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gochi Hand', cursive;
}